* {
  margin: 0px;
}

.App {
  text-align: center;
  color: black;
}

.bulletinBoard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 100%
}

.postCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 450px;
  background-color: rgb(255, 255, 130);
  color: black;
  box-shadow: 5px 5px 10px rgb(50, 49, 49);
  margin: 20px;
  padding: 10px;
}

.question {
  font-size: 20px;
  margin: 10px;
}

.likeBtn {
  margin: 10px;
}